
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: var(--ff-Poppins);
}
/*Navegacion*/
header{
    width: 100%;
    height: 100vh;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
nav {
    height: 100px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    z-index: 500;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.7;
}
.bar-btn{
    font-size: 25px;
    color: var(--c-white);
    margin-right: 20px;
    cursor: pointer;
    z-index: 500;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 0;
    text-align: center;
    background-color: var(--c-white);
    opacity: 0.93;
    transition: all 0.6s;
    z-index: 400;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
}
.nav-menu li a{
    color: var(--c-black);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    
}
.nav-menu li a.active,
.nav-menu li a:hover{
    color: var(--c-gray);
    transition: 0.3s;
}
#check{
    display: none;
    z-index: 1;
}
#check:checked ~ .bar-btn{
    color: var(--c-black);
    transition: 0.3s;
}
#check:checked ~ .nav-menu{
    height: 100vh;
    padding-top: 40%;
}

#check:checked ~ .nav-menu li{
    display: block;
}
.banner-text h1{
    color: var(--c-red);
    text-align: center;
    font-size: 80px;
    font-family: var(--ff-Lobster);
    font-weight: 900;
    -webkit-text-stroke: .001rem #fff;
}
.banner-text h2{
    color: var(--c-white);
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    margin-right: 5%;
}
/*Presentacion*/
.section-presentation{
    background: linear-gradient(100deg,var(--c-brown),var(--c-green));
    padding: 20px 5px;
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-presentation div{
    color: var(--c-white);
    text-align: center;
    padding: 20px;
    
}
.section-presentation p{
    font-size: 20px;
}
.section-presentation::before,.section-presentation::after{
    content: "";
    position: absolute;
    background-color: var(--c-white);
    width: 90%;
    height: 2px;
    border-radius: 20px;
    padding: 0 20px;
}
.section-presentation::before{
    top: 50px;   
}
.section-presentation::after{
    bottom: 50px;
}
.section-presentation img{
    width: 80%;
    height: 70%;
}
/*Section Times*/
.section-times{
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: var(--c-yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-times div{
    display: block;
    text-align: left;
    padding-left: 50%;
    margin-top: 10px;
}
.section-times h1{
    padding-left: 20px;
}
.section-times ul li{
    padding-left: 20px;
}
.section-times p{
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 5px;
}
/*Galery*/
.section-galery{
    display: block;
    text-align: center;
    padding-top: 20px;
    background-color: var(--c-gray);
    height: 540vh;
}
.section-galery h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    color: var(--c-white);
}
.section-galery-photo{
    margin: 40px;
    box-shadow: 0 0 0 10px #fff, 0 15px 30px;
    background-color: #fff;
    padding-bottom: 50px;
}
.section-galery img{
    width: 100%;
    height: 100%;
    
}
/*Footer*/
footer, footer .container a {
    color: var(--c-text-light);
    transition: 150ms ease;
    background-color: var(--c-black);
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
footer .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 3.375rem;
    gap: 1rem
}
footer .footer-social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background-color: #1E1E1E;
    border-radius: 50%;
    font-size: 1.5rem;
}
footer .container ul::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 400%;
    height: 2px;
    background-color: #363636;
}
footer .rights-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
:root{
    --c-text-light: #F1F2EC;
    --c-green: rgb(49, 102, 19);
    --c-black: rgba(0,0,0,0.9);
    --c-white: rgba(255, 255, 255,0.7);
    --c-yellow: rgb(248, 222, 106);
    --c-brown: rgb(137, 107, 73);
    --c-gray: rgb(119, 119, 119);
    --c-red: rgb(209, 12, 12);
    --ff-Poppins: 'Poppins', sans-serif;
    --ff-Lobster: 'Lobster', cursive
}